# SQL Practice Notebook (SQLite)

This notebook documents my practice with SQL using Python's `sqlite3` library. The tasks include database creation, table design, data insertion, and query execution using a Jupyter Notebook environment.

## 1. Importing Required Library

In [ ]:

import sqlite3

## 2. Creating and Connecting to Database

In [ ]:

# Create a connection to SQLite database
conn = sqlite3.connect("student_database.db")
cursor = conn.cursor()

print("Database connected successfully")

## 3. Creating a Table

In [ ]:

cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    course TEXT,
    score INTEGER
)
''')

print("Table created successfully")

## 4. Inserting Records

In [ ]:

students_data = [
    (1, "Ankit Raj Jha", "Python", 85),
    (2, "Harsh Parvani", "Data Science", 90),
    (3, "Dev Agrawal", "AI", 88)
]

cursor.executemany("INSERT OR IGNORE INTO students VALUES (?, ?, ?, ?)", students_data)
conn.commit()

print("Records inserted successfully")

## 5. Fetching Data using SQL Queries

In [ ]:

cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()

for row in rows:
    print(row)

## 6. Applying SQL Conditions

In [ ]:

cursor.execute("SELECT name, score FROM students WHERE score >= 88")
result = cursor.fetchall()

print("Students with score >= 88:")
for r in result:
    print(r)

## 7. Updating Records

In [ ]:

cursor.execute("UPDATE students SET score = 92 WHERE name = 'Alice'")
conn.commit()

cursor.execute("SELECT * FROM students WHERE name = 'Alice'")
print(cursor.fetchone())

## 8. Deleting Records

In [ ]:

cursor.execute("DELETE FROM students WHERE name = 'Charlie'")
conn.commit()

cursor.execute("SELECT * FROM students")
print(cursor.fetchall())

## 9. Closing Database Connection

In [ ]:

conn.close()
print("Database connection closed")

## Conclusion
This notebook reflects hands-on practice with SQL operations using SQLite integrated with Python in a Jupyter Notebook environment.